/* About 섹션 */
.section-about {
  background-color: #fff;
  padding: 60px 30px;
  .about-text {
    text-align: center;
    margin-bottom:8px;
    .section-title {
      font-size: 24px;
      font-weight: 600;
      line-height: 139%;
      letter-spacing: -0.02em;
      margin-bottom: 20px;
    }

    .about-kicker {
      font-size: 18px;
      line-height: 33px;
      letter-spacing: -0.02em;
      strong {
        font-weight: 700;
      }
    }
  }

  .about-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
    .about-card {
      background: #fff;
      border: 1px solid #DFDFE8;
      border-radius: 16px;
      padding: 20px 24px;
      background: rgba(247, 247, 250, 1);
      .card-title {
        font-weight: 600;
        font-size: 18px;
        line-height: 33px;
        letter-spacing: -0.02em;
        padding-bottom: 8px;
        color: rgba(7, 60, 162, 1);
      }
      .card-desc {
        font-weight: 500;
        font-size: 15px;
        line-height: 23px;
        letter-spacing: -0.02em;
        color: #696969;
        
      }
    }
  }
}
.about-diagram{
  display: none;
}

/* PC */
@media (min-width: 1024px) {
  .section-about {
    padding: 136px 0;
    .about-text {
      .section-title {
        font-size: 50px;
        margin-bottom: 80px;
      }
      .about-kicker {
        display: none;
      }
    }
    /* 모바일 카드 숨김, PC 다이어그램 표시 */
    .about-cards { display: none; }

    .about-diagram {
      display: block;
      position: relative;
      width: 564px;
      height: 564px;
      margin: 0 auto;

      .ring {
        position: absolute;
        inset: 0;
        margin: auto;
        width: 560px;
        height: 560px;
        border-radius: 50%;
        border: 50px solid #EDEDF1;
        //transform: translateY(-70px);
      }

      .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        .ax {
          font-weight: 700;
          font-size: 44px;
          letter-spacing: -0.02em;
          line-height: 33px;
        }
        .sub {
          display: block;
          margin-top:20px;
          color: #222;
          font-weight: 500;
          font-size: 32px;
        }
      }

      .node {
        position: absolute;
        //width: 380px;
        // display: flex;
        // align-items: center;
        // gap: 14px;

        .bubble {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          background: #093FA7;
          display: grid;
          place-items: center;
          color: #fff;
          text-align: center;
          font-weight: 600;
          letter-spacing: -0.02em;
          font-size: 26px;
          line-height: 33px;
        }
        .dot-line {
          position: absolute;
          background: url("@/assets/images/line.png") no-repeat center center;
          width: 70px;
          height: 2px;
          top: 50%;
          &::before{
            content: '';
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #093FA7;
            display: inline-block;
            vertical-align: middle;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        .node-desc {
          font-weight: 500;
          font-size: 20px;
          line-height: 30px;
          letter-spacing: -2%;
          text-align: right;
          color: #696969;
          position: absolute;
          white-space: nowrap;
        }
      }
      .node-content{
        position: relative;
        height: 100%;
        width: 100%;
      }

      /* 포지션 */
      .node-1 { top: 47px; left: -43px;
        .node-desc{
          left: -85px;
          top: 50%;
          transform: translate(-100%, -50%);
        }
        .dot-line{
          left: -68px;
        }
      }
      .node-2 { top: 47px; right: -43px;
        .node-desc{
          right: -85px;
          top: 50%;
          transform: translate(100%, -50%);
          text-align: left;
        }
        .dot-line{
          right: -68px;
          background-image: url("@/assets/images/line2.png");
          &::before{
            left: inherit;
            right: 0;
          }
        }
      }
      .node-3 { bottom: 47px; left: -43px;
        .node-desc{
          left: -85px;
          top: 50%;
          transform: translate(-100%, -50%);
        }
        .dot-line{
          left: -68px;
        }
      }
      .node-4 { bottom: 47px; right: -43px;
        .node-desc{
          right: -85px;
          top: 50%;
          transform: translate(100%, -50%);
          text-align: left;
        }
        .dot-line{
          right: -68px;          
          background-image: url("@/assets/images/line2.png");
          &::before{
            left: inherit;
            right: 0;
          }
        }
      }
    }
  }
}

