.section-diagnosis {
  padding: 60px 20px;
  background: #FFFFFF;
  
  @media (min-width: 1024px) {
    padding-top: 137px;
    padding-bottom: 137px;
    
    .container {
      max-width: 1370px;
      margin: 0 auto;
    }
  }

  .diagnosis-title {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-bottom:20px;
    color: #000000;
    padding-top: 10px;
    @media (min-width: 1024px) {
      font-size: 32px;
      margin-bottom: 40px;
    }
  }

  .diagnosis-top {
    text-align: center;
  }



  .arrow-down {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px;
    
    @media (min-width: 1024px) {
      margin: 20px 0 50px;
    }
  }

  .diagnosis-middle {
    margin: 15px 0 0;
    
    @media (min-width: 1024px) {
      margin: 60px 0 30px;
    }

    .middle-title {
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      color: #000000;
      margin-bottom: 15px;
      line-height: 1.6;
      
      @media (min-width: 1024px) {
        font-size: 32px;
        margin-bottom: 30px;
      }
    }

    .process-steps {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      max-width: 1261px;
      border: 1px solid #DFDFE8;
      border-radius: 24px;
      padding: 20px;
      
      @media (min-width: 1024px) {
        flex-direction: row;
        flex-wrap: wrap;
        border: 0;
        border-radius: 0;
        background: url("@/assets/images/diagnosis-step-bg.png") no-repeat center center;
      }
    }
    
    .process-step {
      gap: 16px;
      flex: 1;
      min-width: 0;
      text-align: center;
      &:not(:first-child) {
        border-top: 1px solid #DFDFE8;
        padding-top: 20px;
        margin-top: 20px;
      }
      @media (min-width: 768px) {
        flex: 0 0 calc(50% - 10px);
      }
      
      @media (min-width: 1024px) {
        
        padding-left: 50px;      
        padding-top: 37px !important;
        margin-top: 0 !important;
        border-top: 0 !important;
        height: 223px;
        flex: 1;
        min-width: 0;
        
      }

      .step-number {
        color: #093FA7;
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 10px;
        display: block;
        @media (min-width: 1024px) {
          font-size: 28px;
          padding-bottom: 20px;
        }
      }

      .step-content {
        flex: 1;

        .step-title {
          font-size: 16px;
          font-weight: 700;
          color: #000000;
          margin-bottom: 8px;
          line-height: 1.5;
          
          @media (min-width: 1024px) {
            font-size: 20px;
            margin-bottom: 12px;
          }
        }

        .step-desc {
          font-size: 14px;
          font-weight: 400;
          color: #949494;
          margin: 0;
          line-height: 1.5;
          @media (min-width: 1024px) {
            font-size: 16px;
          }
        }
      }
    }
  }

  .diagnosis-bottom {
    text-align: center;
    
    .conclusion-text {
      font-size: 16px;
      font-weight: 700;
      color: #000000;
      margin-bottom: 20px;
      line-height: 1.3;
      
      @media (min-width: 768px) {
        font-size: 18px;
      }
      
      @media (min-width: 1024px) {
        font-size: 40px;
        margin-bottom: 40px;
      }
    }

    .btn-inquiry {
      display: inline-block;
      width: 120px;
      height: 35px;
      background: #093FA7;
      color: #FFFFFF;
      font-size: 14px;
      font-weight: 600;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: background 0.3s;
      
      &:hover {
        background: #082d7a;
      }
      
      @media (min-width: 1024px) {
        padding: 0;
        width: 220px;
        height: 70px;
        font-size: 20px;
        border-radius: 10px;
      }
    }
  }
}

