.title-group {
  text-align: center;
  margin-bottom: 30px;
  
  @media (min-width: 1024px) {
    margin-bottom: 60px;
  }

  .sub-title {
    font-size: 14px;
    font-weight: 600;
    color: #093FA7;
    margin-bottom: 12px;
    @media (min-width: 1024px) {
      font-size: 24px;
      margin-bottom: 18px;
    }
  }

  h2 {
    font-size: 19px;
    font-weight: 600;
    line-height: 138%;
    @media (min-width: 768px) {
      font-size: 24px;
    }
    @media (min-width: 1024px) {
      font-size: 40px;
    }
  }
  .desc {
    font-size: 14px;
    font-weight: 500;
    color: #696969;
    line-height: 1.6;
    margin-top: 14px;
    @media (min-width: 1024px) {
      margin-top: 24px;
      font-size: 20px;
    }
  }
}

.section-insight {
  padding: 60px 20px;
  @media (min-width: 1024px) {
    padding-top: 137px;
    padding-bottom: 137px;
    
    .container {
      max-width: 1370px;
      margin: 0 auto;
    }
  }

  

  .insight-content {
    position: relative;
  }

  .insight-top {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 1100px;
    margin: 0 auto;
    
    @media (min-width: 1024px) {
      flex-direction: row;
      gap: 30px;
    }
  }

  .team-card {
    border: 1px solid #DFDFE8;
    background: #F7F7FA;
    border-radius: 24px;
    padding: 22px;
    flex: 1;
    @media (min-width: 1024px) {
      padding: 32px 28px;
      border-radius: 20px;
    }

    .team-title {
      font-size: 20px;
      font-weight: 700;
      color: #FFFFFF;
      background-color: #093FA7;
      margin-bottom: 12px;
      text-align: center;
      border-radius: 16px;
      padding: 12px 0;
      line-height: 156%;
      @media (min-width: 1024px) {
        font-size: 28px;
        margin-bottom: 28px;
      }
    }

    .team-desc {
      list-style: none;
      padding-left: 20px;
      margin: 0;

      li {
        font-size: 14px;
        font-weight: 500;
        color: #000;
        line-height: 1.6;
        padding-left: 10px;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 7px;
          width: 2px;
          height: 2px;
          background: #000;
          border-radius: 50%;
        }
        @media (min-width: 1024px) {
          font-size: 20px;
          &::before {
            width: 3px;
            height: 3px;
            top: 13px;
          }
        }
      }
    }
  }

  .insight-connector {
    position: relative;
    text-align: center;
    
  }

  .insight-bottom {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #F7F7FA;
    border: 1px solid #DFDFE8;
    border-radius: 24px;
    padding: 22px;
    margin-top: 30px;
    @media (min-width: 1024px) {
      flex-direction: row;
      margin-top: 40px;
      gap: 22px;
      padding: 54px;
    }
  }

  .service-card {
    
    flex: 1;
    min-width: 0;
    @media (min-width: 768px) {
      flex: 0 0 calc(50% - 10px);
    }
    
    @media (min-width: 1024px) {
      flex: 1;
      min-width: 0;
    }
    
    .service-top {
      border-radius: 24px;
      display: flex;
      flex-direction: column;
      gap:3px;
      border: 1px solid #DFDFE8;
      background-color: #fff;
      align-items: center;
      justify-content: center;
      padding: 10px 0;
      @media (min-width: 1024px) {
        height: 164px;
        padding: 0;
      }
    }
    
    .service-badge {
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      color: #696969;
      @media (min-width: 1024px) {
        font-size: 20px;
      }
    }

    .service-title {
      font-size: 18px;
      font-weight: 700;
      color: #000000;
      line-height: 125%;
      @media (min-width: 1024px) {
        font-size: 24x;
      }
    }

    .service-desc {
      margin-top: 16px;
      font-size: 14px;
      font-weight: 400;
      color: #696969;
      line-height: 1.34;
      li{
        position: relative;
        padding-left: 10px;
        +li{
          margin-top: 5px;
        }
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 5px;
          width: 2px;
          height: 2px;
          background: #696969;
          border-radius: 50%;
        }
        @media (min-width: 1024px) {
          font-size: 20px;
          &::before {
            width: 3px;
            height: 3px;
            top: 13px;
          }
        }
      }
      @media (min-width: 1024px) {
        font-size: 18px;
      }
    }
  }
}

