.section-roadmap{
  background: rgba(247, 247, 250, 1);
  padding: 60px 30px;
  @media (min-width: 1024px) {
    padding-top: 137px;
    padding-bottom: 137px;
    .container{
      max-width: 1370px;
      margin: 0 auto;
    }
  }
  .section-title{
    font-size: 24px;
    font-weight: 600;
    line-height: 139%;
    letter-spacing: -0.02em;
    text-align: center;
    @media (min-width: 1024px) {
      font-size: 50px;
      br{
        display: none;
      }
    }
  }
  .roadmap-content{
    position: relative;
    margin-top: 20px;
    @media (min-width: 1024px) {
      margin-top: 60px;
    }
    .image{
      img{
        max-width: 100%;
      }
    }
  }
  .zoomin{
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    background: rgba(9, 63, 167, 1) url("@/assets/images/icon-zoomin.png") no-repeat center center;
    border-radius: 50%;
    display: flex;
    @media (min-width: 1024px) {
      display: none;
    }
  }
}