
/* 강사진 섹션 - 모바일 슬라이드 / PC 그리드 */
.section-teachers {
  padding: 60px 20px;
  background-color: #F7F7FA;
  @media (min-width: 1024px) {
    padding-top: 137px;
    padding-bottom: 137px;
  }
  .container{
    max-width: 1370px;
    margin: 0 auto;
  }
  .section-title {
    font-family: Pretendard;
    font-weight: 600;
    font-size: 24px;
    line-height: 139%;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
  }

  .teacher-card {
    background: #fff;
    border: 1px solid rgba(218, 218, 218, 1);
    border-radius: 12px;
    padding: 24px;
    height: 320px;
    position: relative;
    @media (min-width: 1024px) {
      height: 490px;
      padding: 35px;
      border-radius: 24px;

    }
    .teacher-name {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 12px;
      border-bottom: 1px solid rgba(218, 218, 218, 1);
      padding-bottom: 10px;
      color: #093FA7;
      @media (min-width: 1024px) {
        font-size: 28px;
        margin-bottom: 20px;
        padding-bottom: 17px;
      }
    }

    .teacher-desc {
      li{
        font-weight: 500;
        font-size: 12px;
        line-height: 156%;
        letter-spacing: -0.02em;
        position: relative;
        padding-left: 10px;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top:7px;
          width: 2px;
          height: 2px;
          background: #111;
          border-radius: 50%;
        }
        @media (min-width: 1024px) {
          font-size: 18px;
          br{
            display: none;
          }
          &::before {
            top: 9px;
            width: 3px;
            height: 3px;
          }
        }
      }
    }

    .teacher-desc2{
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 14px 15px;
      background: #E8F3FC;
      border-radius: 0 0 12px 12px;
      @media (min-width: 1024px) {
        border-radius: 0 0 24px 24px;
      }
      ul{
        li{
          font-size: 12px;
          font-weight: 500;
          line-height: 156%;
          letter-spacing: -0.02em;
          padding-left: 10px;
          position: relative;
          color: #676767;
          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 7px;
            width: 2px;
            height: 2px;
            background: #676767;
            border-radius: 50%;
          }
          @media (min-width: 1024px) {
            font-size: 15px;
            &::before {
              top: 8px;
              width: 3px;
              height: 3px;
            }
          }
        }
      }
      @media (min-width: 1024px) {
        padding: 28px 35px;
      }
    }

    .avatar {
      text-align: right;
      position: absolute;
      right: 24px;
      bottom: 24px;
      @media (min-width: 1024px) {
        bottom: 40px;
        right: 40px;
      }
      img{
        width: 52px;
        height: 52px;
        @media (min-width: 1024px) {
          width: 90px;
          height: 90px;
        }
      }
    }
  }

  /* 기본: 모바일 - 슬라이더 노출 */
  .teachers-slider {
    display: block;
    &.is-hidden {
      display: none;
    }
    // .swiper-wrapper {
    //   padding-bottom: 24px; /* pagination 공간 */
    // }
    
    .swiper-pagination-bullet {
      background: #ccc;
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      background: #111;
    }
  }
}
.section-teachers{
  .section-title{
    position: relative;
  }
  .swiper-buttons{
    position: absolute;
    right: 0;
    top: 30px;
    display: flex;
    gap:0 10px;
  }
}
/* PC - 그리드 노출 */
@media (min-width: 1024px) {
  .section-teachers {
    .section-title {
      font-size: 50px;
      margin-bottom: 28px;
    }
  }
  .section-teachers{
    .section-title{
      
      margin-bottom: 58px;
    }
  }
}