
/* 강사진 섹션 - 모바일 슬라이드 / PC 그리드 */
.section-teachers {
  padding: 60px 0;
  padding-left: 30px;
  @media (min-width: 1024px) {
    padding-top: 137px;
    padding-bottom: 137px;
  }
  .container{
    max-width: 1370px;
    margin: 0 auto;
  }
  .section-title {
    font-family: Pretendard;
    font-weight: 600;
    font-size: 24px;
    line-height: 139%;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
  }

  .teacher-card {
    background: #fff;
    border: 1px solid rgba(218, 218, 218, 1);
    border-radius: 12px;
    padding: 24px;
    height: 256px;
    @media (min-width: 1024px) {
      height: 380px;
      padding: 40px;
      border-radius: 24px;

    }
    .teacher-name {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 12px;
      border-bottom: 1px solid rgba(218, 218, 218, 1);
      padding-bottom: 10px;
      @media (min-width: 1024px) {
        font-size: 28px;
        margin-bottom: 20px;
        padding-bottom: 17px;
      }
    }

    .teacher-desc {
      li{
        font-weight: 500;
        font-size: 12px;
        line-height: 156%;
        letter-spacing: -0.02em;
        position: relative;
        padding-left: 10px;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top:7px;
          width: 2px;
          height: 2px;
          background: #111;
          border-radius: 50%;
        }
        @media (min-width: 1024px) {
          font-size: 16px;
          br{
            display: none;
          }
          &::before {
            top: 9px;
            width: 3px;
            height: 3px;
          }
        }
      }
    }

    .avatar {
      text-align: right;
      position: absolute;
      right: 24px;
      bottom: 24px;
      @media (min-width: 1024px) {
        bottom: 40px;
        right: 40px;
      }
      img{
        width: 52px;
        height: 52px;
        @media (min-width: 1024px) {
          width: 90px;
          height: 90px;
        }
      }
    }
  }

  /* 기본: 모바일 - 슬라이더 노출 */
  .teachers-slider {
    display: block;
    &.is-hidden {
      display: none;
    }
    // .swiper-wrapper {
    //   padding-bottom: 24px; /* pagination 공간 */
    // }
    
    .swiper-pagination-bullet {
      background: #ccc;
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      background: #111;
    }
  }
}
.section-teachers{
  .swiper-buttons{
    display: none;
  }
}
/* PC - 그리드 노출 */
@media (min-width: 1024px) {
  .section-teachers {
    padding: 137px 0;
    .section-title {
      font-size: 50px;
      margin-bottom: 28px;
    }
  }
  .section-teachers{
    .section-title{
      position: relative;
      margin-bottom: 58px;
    }
    .swiper-buttons{
        position: absolute;
        right: 0;
        top: 30px;
        display: flex;
        gap:0 10px;
        .swiper-button-prev,
        .swiper-button-next {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: #222;
          
          position: static;
          &::after {
            color: #fff;
            font-size: 17px;
            font-weight: 700;
          }
        }
      }
    }
}