@use "../abstracts/functions" as *;

.section-training{
  padding: 60px 20px;
  padding-right: 0;
  @media (min-width: 1024px) {
    padding-top: scale85(120px);
    padding-bottom: scale85(120px);
    overflow: hidden;
    padding-right: 20px;
    
  }
  .container{
    max-width: 1370px;
    margin: 0 auto;
    @media (min-width: 1024px) {
      max-width: 1164px;
    }
  }
  .training-content{
    +.training-content{
      margin-top: 50px;
      @media (min-width: 1024px) {
        margin-top: scale85(120px);
      }
    }
    .hgroup{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 25px;
      position: relative;
      @media (min-width: 1024px) {
        margin-bottom: scale85(45px);
      }
    }
    .hgroup-left{
      display: flex;
      flex-direction: column;
      gap: 10px;
      @media (min-width: 1024px) {
        flex-direction: row;
        align-items: center;
        gap: scale85(40px);
      }
    }
    .hgroup-title{
      font-size: 24px;
      white-space: nowrap;
      @media (min-width: 1024px) {
        font-size: scale85(40px);
      }
    }
    .tag-group{
      display: flex;
      align-items: center;
      gap: 3px;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: none;
      scrollbar-width: none;
      width: calc(100vw - 40px);
      min-width: 0;
      
      @media (min-width: 1024px) {
        gap: scale85(6px);
      }
      button{
        flex-shrink: 0;
        transition: all 0.3s ease;
        padding: 6px 10px;
        border-radius: 25px;
        background-color: #fff;
        font-weight: 500;
        font-size: 11px;
        border: 1px solid #DFDFE8;
        white-space: nowrap;
      }
      @media (min-width: 1024px) {
        button{
          font-size: scale85(14px);
          padding: scale85(6px) scale85(10px);
        }
      }
      @media (min-width: 1400px) {
        button{
          font-size: scale85(18px);
          padding: scale85(14px) scale85(20px);
        }
      }
    }
  }
}

.btn-group{
  display: flex;
  gap: 7px;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  @media (min-width: 1024px) {
    display: flex;
  }
  button{
    border-radius: 50%;
    border: 1px solid #000;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 30px;
    height: 30px;
    background-size: 6px auto;
    &.swiper-button-disabled{
      background-color: #DFDFE8;
      border-color: #DFDFE8;
      cursor: not-allowed;
      background-image: url('@/assets/images/t-btn-disabled.png');
    }
    @media (min-width: 1024px) {
      width: scale85(50px);
      height: scale85(50px);
      background-size: scale85(10px) auto;
    }
  }
  .btn-prev{
    background-image: url('@/assets/images/t-btn.png');
    transform: rotate(180deg);
  }
  .btn-next{
    background-image: url('@/assets/images/t-btn.png');
    
  }
}

.training-card{
  border-radius: 24px;
  border: 1px solid #DADADA;
  padding: 0;
  
  overflow: hidden;
  display: flex;
  flex-direction: column;
  @media (min-width: 1024px) {
    height: 295px;

  }
  .training-name{
    font-size: 14px;
    font-weight: 700;
    padding: 20px 20px 8px 20px;
    margin: 0;
    line-height: 139%;
    @media (min-width: 1024px) {
      font-size: scale85(18px);
      padding: scale85(28px) scale85(30px) scale85(12px);
    }
  }
  .training-desc{
    font-size: 12px;
    font-weight: 600;
    height: 84px;
    line-height: 136%;
    padding: 0 20px;
    word-break: keep-all;
    overflow-wrap: break-word;
    br{
      display: none;
    }
    @media (min-width: 1024px) {
      font-size: scale85(24px);
      padding: 0 scale85(30px);
      height: scale85(100px);
    }
  }

  .training-links{
    margin-top: auto;
    padding: 0 20px 20px;
    @media (min-width: 1024px) {
      padding: 0 scale85(30px) scale85(30px);
    }
    a{
      font-size: 14px;
      font-weight: 500;
      padding-top: 12px;
      display: inline-flex;
      align-items: center;
      vertical-align: top;
      gap: 0 4px;
      color: #fff;
      font-weight: 500;
      padding: 2px 5px 2px 10px;
      line-height: 156%;
      vertical-align: top;
      border-radius: 5px;
      font-size: 12px;
      @media (min-width: 1024px) {
        padding: 2px scale85(4px) 2px scale85(10px);
        font-size: scale85(18px);
      }
      i{
        vertical-align: top;
        display: inline-block;
        width: 11px;
        height: 10px;
        background-repeat: no-repeat;
        background-image: url('@/assets/images/links-ak.png');
        background-size: auto 100%;
        @media (min-width: 1024px) {
          width: scale85(16px);
          height: scale85(14px);
          background-size: auto;
        }
      }
    }
  }
}

.training-content-1{
  .training-card{
    background: linear-gradient(180deg, rgba(9, 63, 167, 0.15) 0%, rgba(9, 63, 167, 0.08) 20%, rgba(9, 63, 167, 0.03) 35%, #FFFFFF 40%, #FFFFFF 100%);
    .training-name{
      color: #093FA7;
    }
    .training-links a{
      background-color: #7892C5;
    }
  }
  .sort-toggle{
    &:hover{
      font-weight: 700 !important;
      border-color: #093FA7 !important;
      color: #093FA7 !important;
    }
  }
}

.training-content-2{
  .training-card{
    background: linear-gradient(180deg, rgba(25, 128, 221, 0.15) 0%, rgba(25, 128, 221, 0.08) 20%, rgba(25, 128, 221, 0.03) 35%, #FFFFFF 40%, #FFFFFF 100%);
    .training-name{
      color: #1980DD;
    }
    .training-links a{
      background-color: #669ED0;
    }
  }
  .sort-toggle{
    &:hover{
      font-weight: 700 !important;
      border-color: #1980DD !important;
      color: #1980DD !important;
    }
  }
} 

.training-content-3{
  .training-card{
    background: linear-gradient(180deg, rgba(7, 183, 209, 0.15) 0%, rgba(7, 183, 209, 0.08) 20%, rgba(7, 183, 209, 0.03) 35%, #FFFFFF 40%, #FFFFFF 100%);
    .training-name{
      color: #07B7D1;
    }
    .training-links a{
      background-color: #6FC1CD;
    }
  }
  .sort-toggle{
    &:hover{
      font-weight: 700 !important;
      border-color: #07B7D1 !important;
      color: #07B7D1 !important;
    }
  }
} 

.training-content-4{
  .training-card{
    background: linear-gradient(180deg, rgba(7, 183, 209, 0.15) 0%, rgba(7, 183, 209, 0.08) 20%, rgba(7, 183, 209, 0.03) 35%, #FFFFFF 40%, #FFFFFF 100%);
    .training-name{
      color: #07B7D1;
    }
    .training-links a{
      background-color: #6FC1CD;
    }
  }
  .sort-toggle{
    &:hover{
      font-weight: 700 !important;
      border-color: #07B7D1 !important;
      color: #07B7D1 !important;
    }
  }
} 