/* Visual Slider (배경 제외 컨텐츠만) */
.visual {
  .visual-slider {
    position: relative;
  }
  .visual-slide-1{
    background: url("@/assets/images/visual-slide-1.png") no-repeat center center / cover;
    min-height: 100vh;
    max-height: 456px;
    display: flex;
    align-items: center;
    justify-content: center;
    .frames{
      background: url("@/assets/images/frame1-mobile.png") no-repeat center 0;
      background-size: 100% 100%;
      max-width: 690px;
      //aspect-ratio: 1 / 1;
      width: 100%;
      aspect-ratio: 375 / 408;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (min-width: 1024px) {
        display: none;
      }
    }
    @media (min-width: 1024px) {
      max-height: inherit;
      background: url("@/assets/images/main01.png") no-repeat center center / cover;
      padding-top: 0;
    }
  }
  
  .visual-slide-2{
    background: url("@/assets/images/visual-slide-2.png") no-repeat center center / cover;
    min-height: 100vh;
    max-height: 456px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (min-width: 1024px) {
      max-height: inherit;
      padding-top: 0;
      //background-image: url("@/assets/images/visual-slide-pc-2.jpg");
      background: url("@/assets/images/main02.png") no-repeat center center / cover;
    }
  }

  .visual-slide-content{
    @media (min-width: 1024px) {
      display: none;
    }
    .visual-slide-text{
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      color: #B9EAFF;
      padding-bottom: 10px;
      text-align: center;
      span{
        border: 1px solid #B9F7FF;
        border-radius: 10px;
        padding: 10px 15px;
        em{
          font-style: normal;
          color: #00B2FF;
          font-weight: 700;
        }
      }
    }
    .visual-slide-title{
      font-weight: 700;
      color: #fff;
      text-align: center;
      font-size: 32px;
      padding: 30px 0 15px;
    }
    .visual-slide-text-2{
      font-size: 14px;
      line-height: 22px;
      color: #fff;
      text-align: center;
    }
  }

  .swiper-pagination{
    gap:0 12px;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width: 1024px) {
      bottom: inherit;
      top: 50%;
      right: 150px;
      left: inherit;
      width: auto;
      flex-direction: column;
      gap: 12px 0;
    }
  }
  .swiper-pagination-bullet {
    background: transparent;
    opacity: 1;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid #949494;
    margin: 0;
    @media (min-width: 1024px) {
      width: 10px;
      height: 10px;
    }
  }
  .swiper-pagination-bullet-active {
    background: #B9F7FF;
  }
}

@keyframes updown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.visual-text{
  z-index: 2;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
  @media (min-width: 1024px) {
    top: inherit;
    bottom: 50px;
  }
  i{
    width: 10px;
    height: 15px;
    background: url("@/assets/images/Vector.png") no-repeat center center / contain;
    display: inline-block;
    margin-top: 10px;
    vertical-align: top;
    animation: updown 3s ease-in-out infinite;
    @media (min-width: 1024px) {
      margin-top: 18px;
      background-image: url("@/assets/images/Vector2.png");
      width: 30px;
      height: 14px;
    }
  }
  p{
    
    font-weight: 500;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 23px;
    @media (min-width: 1024px) {
      font-size: 20px;
      line-height: 34px;
    }
  }
}

