/* Visual Slider (배경 제외 컨텐츠만) */
.visual {
  .visual-slider {
    position: relative;
    img{
      width: 100%;
    }
  }
  .visual-slide-1{
    background: url("@/assets/images/visual-slide-1.png") no-repeat center center / cover;
    min-height: 100vh;
    max-height: 456px;
    padding-top: 120px;
  }
  .visual-slide-2{
    background: url("@/assets/images/visual-slide-2.png") no-repeat center center / cover;
    min-height: 100vh;
    max-height: 456px;
    padding-top: 120px;
  }
  .swiper-pagination-bullet {
    background: #b5b5b5;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    background: #111;
  }
}

.visual-text{
  z-index: 2;
  position: absolute;
  bottom: 6vh;
  left: 0;
  right: 0;
  text-align: center;
  i{
    width: 10px;
    height: 15px;
    background: url("@/assets/images/Vector.png") no-repeat center center / contain;
    display: inline-block;
    margin-bottom: 20px;
    vertical-align: top;
  }
  p{
    font-family: Pretendard;
    font-weight: 500;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 23px;
  }
}


@media (min-width: 1024px) {
  .visual {
    padding: 40px 0 20px;
    .visual-slide {
      min-height: 320px;
      .headline {
        font-size: 40px;
      }
      .desc {
        font-size: 18px;
      }
    }
  }
}

