<section id="diagnosis" class="section-diagnosis">
  <div class="container">

    <header class="title-group">
      <div class="sub-title">AI 진단 솔루션, MTD 진단</div>
      <h2>데이터 기반의 체계적인 교육 매칭 <br class="pc-none">및 맞춤형 솔루션 설계</h2>
      <p class="desc">MTD 진단은 단순히 개인 스킬/역량 진단 차원을 넘어서<br>
        그 조직에 맞는 AX 솔루션을 도출하기 위한 도구입니다.</p>
    </header>

    <h2 class="diagnosis-title">3차원의 MTD 진단</h2>

    <div class="diagnosis-top">
      <img src="./assets/images/diagnosis-top.png" alt="">
    </div>

    <div class="arrow-down arrow-1">
      <span class="p"><img src="./assets/images/Union.png" alt=""></span>
      <span class="m"><img src="./assets/images/Union3.png" alt=""></span>
    </div>

    <div class="diagnosis-middle">
      <h3 class="middle-title">데이터 기반의 체계적인 <br class="pc-none">AX 전략 및 AI 교육 매칭</h3>

      <div class="process-steps">
        <div class="process-step">
          <span class="step-number">1</span>
          <div class="step-content">
            <h4 class="step-title">조직의 AI에 대한 <br class="p-br">입장 및 준비도 확인</h4>
            <p class="step-desc">(전략, 일하는 방식, AX 환경 등)</p>
          </div>
        </div>
        <div class="process-step">
          <span class="step-number">2</span>
          <div class="step-content">
            <h4 class="step-title">팀/개인 단위의 <br class="p-br">AI 활용 정도 및 <br>교육에 대한 니즈 확인</h4>
          </div>
        </div>
        <div class="process-step">
          <span class="step-number">3</span>
          <div class="step-content">
            <h4 class="step-title">진단 레포트 제공</h4>
            <p class="step-desc">(현재 상황 및 보완이 필요한 점, <br class="p-br">GAP 분석 결과 등)</p>
          </div>
        </div>
        <div class="process-step">
          <span class="step-number">4</span>
          <div class="step-content">
            <h4 class="step-title">AX 전략 및 <br class="p-br">교육 솔루션 연동</h4>
          </div>
        </div>
      </div>

      <div class="process-steps-pc">
        <img src="./assets/images/diagnosis-step-pc.png" alt="">
      </div>

    </div>

    <div class="arrow-down arrow-2">
      <span class="p"><img src="./assets/images/Union.png" alt=""></span>
      <span class="m"><img src="./assets/images/Union3.png" alt=""></span>
    </div>

    <div class="diagnosis-bottom">
      <p class="conclusion-text">사전-사후 진단 결과를 통한 교육 효과성 검증 <br class="m-br">및 차기 교육 프로그램 추천</p>
      
      <div class="diagnosis-bottom-content">
        <p>
          <b>우리 조직의 AI 활용 수준이 궁금하다면?</b>
          AX 성숙도를 확인할 수 있는 간편 진단 링크를 보내드립니다.
        </p>
        <button type="button" class="btn-diagnosis">간편 진단 신청하기</button>
      </div>
      
    </div>
  </div>
</section>