<header id="header" class="header">
  <div class="header-container">
    <h1 class="logo"><a href="#visual">AXPERT LAB</a></h1>

    <nav id="global-drawer" class="drawer" aria-hidden="true">
      <div class="drawer-inner">
        <ul class="gnb">
          <li><a href="#training">AI 교육</a></li>
          <li><a href="#solution">AX 컨설팅</a></li>
          <li><a href="#diagnosis">AX 진단</a></li>
          <li><a href="#teachers">AX 코치</a></li>
          <li><a href="#insight">AXPERT LAB소개</a></li>
        </ul>
      </div>
      <div class="util-links d-none">
        <a href="#subscription" target="_blank" class="link-blank">Contact Us</a>
        <a href="https://www.exc.co.kr" target="_blank" class="home-icon"></a>
      </div>
    </nav>
    <div class="header-buttons">
      <div class="util-links">
        <a href="#subscription" target="_blank" class="link-blank">Contact Us</a>
        <a href="https://www.exc.co.kr" target="_blank" class="home-icon"></a>
      </div>

      <button type="button" class="btn-menu" aria-label="메뉴 열기" aria-controls="global-drawer" aria-expanded="false">
        <span class="hamburger" aria-hidden="true">
          <span class="line line-1"></span>
          <span class="line line-2"></span>
          <span class="line line-3"></span>
        </span>
      </button>
    </div>
  </div>
</header>