<section id="insight" class="section-insight">
  <div class="container">
    <header class="title-group">
      <div class="sub-title">AXPERT LAB</div>
      <h2>AXPERT LAB은 단순한 스킬 전달이 아닌<br>일하는 방식의 변화를 위한 실제적인 <br class="pc-none">AX 교육 솔루션 제공</h2>
    </header>

    <div class="insight-content">
      <div class="insight-top">
        <div class="team-card">
          <h3 class="team-title">AI 역량 강화팀</h3>
          <ul class="team-desc">
            <li>AI 트렌드 및 업무 적용 연구</li>
            <li>교육 프로그램·도구 개발</li>
          </ul>
        </div>
        <div class="team-card">
          <h3 class="team-title">AI 강의 & 운영팀</h3>
          <ul class="team-desc">
            <li>AI 이해도가 높은 전문 강사진</li>
            <li>AI 교육 운영 경험이 풍부한 전문 운영진</li>
          </ul>
        </div>
        <div class="team-card">
          <h3 class="team-title">AX 혁신 지원팀</h3>
          <ul class="team-desc">
            <li>AX 기술 자문 및 컨설팅</li>
            <li>AI 교육 운영 지원</li>
          </ul>
        </div>
      </div>

      <div class="insight-connector">
        <span class="p"><img src="./assets/images/insight-connector.png" alt=""></span>
        <span class="m">
          <img src="./assets/images/Union2.png" alt="">
        </span>
      </div>

      <div class="insight-bottom">
        <div class="service-card">
          <div class="service-top">
            <h4 class="service-title">AI 교육 기획 및 개발</h4>
            <span class="service-badge">(기업/공공)</span>
          </div>
          <ul class="service-desc">
            <li>AI를 활용한 업무역량 향상 프로그램 개발</li>
          </ul>
        </div>
        <div class="service-card">
          <div class="service-top">
            <h4 class="service-title">AI 제도 및 정책 연구</h4>
            <span class="service-badge">(공공)</span>
          </div>
          <ul class="service-desc">
            <li>AI 관련 정부정책 연구</li>
            <li>AI 역량 강화 사업 운영</li>
          </ul>
        </div>
        <div class="service-card">
          <div class="service-top">
            <h4 class="service-title">강의 및 교육 운영</h4>
          </div>
          <ul class="service-desc">
            <li>AI 전문 강사로 구성된 강사풀 활용</li>
          </ul>
        </div>
        <div class="service-card v2">
          <div class="service-top v2">
            <h4 class="service-title">컨설팅</h4>
            <span class="service-badge">(진단/평가)</span>
          </div>
          <ul class="service-desc">
            <li>AI 성숙도 진단</li>
            <li>AX 교육로드맵 설계</li>
          </ul>
        </div>
        <div class="service-card v2">
          <div class="service-top v2">
            <h4 class="service-title">AI 기술 지원</h4>
          </div>
          <ul class="service-desc">
            <li>AI 교육 기술 자문</li>
            <li>기술 PoC 프로젝트 지원</li>
          </ul>
        </div>
      </div>
    </div>



  </div>
</section>