<section id="subscription" class="section-subscription">
  <div class="container">
    <div class="newletter">
      <h2 class="section-title">Newsletter</h2>
      <p class="section-desc">AXPERT Lab의 최신 AX 솔루션을 안내해 드립니다.</p>
      <form action="#" method="post" class="newsletter-form">
        <div class="agree">
          <input type="checkbox" id="agree" name="agree">
          <label for="agree">개인정보 정책 동의</label>
        </div>
        <div class="fields">
          <input type="email" name="email" placeholder="이메일 주소 입력">
          <a href="https://www.exc.co.kr/customer_center/inquiry/make_inquiries.asp" target="_blank"
            class="btn-submit btn-primary">구독신청</a>
        </div>
      </form>
    </div>
    <div class="contact">
      <h2 class="section-title">Contact Us</h2>
      <p class="section-desc">AX 컨설팅 AXPERT Lab의 AI 전문가와 함께 시작하세요.</p>
      <div class="actions">
        <a href="https://www.exc.co.kr/customer_center/inquiry/make_inquiries.asp" target="_blank"
          class="btn-primary">문의하기</a>
      </div>
    </div>
  </div>
</section>