<section id="teachers" class="section-teachers">
  <div class="container">
    <h2 class="section-title">강사진
      <div class="btn-group">
        <button type="button" class="btn-prev" aria-label="Prev">
          <i></i>
        </button>
        <button type="button" class="btn-next" aria-label="Next">
          <i></i>
        </button>
      </div>
    </h2>

    <div class="teachers-slider swiper">
      <div class="swiper-wrapper">
        <div class="teacher-card swiper-slide">
          <h3 class="teacher-name">Rim 코치님</h3>
          <ul class="teacher-desc">
            <li>현) AI 교육 및 컨설팅 책임 연구원</li>
            <li>AI융합·데이터사이언스 석박사 졸업</li>
            <li>저서) 된다! 하루 만에 끝내는<br>
              제미나이 활용법 외 다수 </li>
          </ul>
          <div class="teacher-desc2">
            <ul class="teacher-desc-list">
              <li>제미나이 기초 및 업무효율화 <br>
                (씨유메디컬)</li>
              <li>제미나이를 활용한 민원 대응 및 업무<br>
                챗봇 실습 (경기도청)</li>
              <li>제미나이 활용 데이터 분석 및 보고서 작성 <br>
                (제이씨데코 코리아)</li>
            </ul>
          </div>
        </div>

        <div class="teacher-card swiper-slide">
          <h3 class="teacher-name">Lee 코치님</h3>
          <ul class="teacher-desc">
            <li>현) 국내 커머스 스타트업 CCO</li>
            <li>통계학 석박사 졸업</li>
          </ul>
          <div class="teacher-desc2">
            <ul class="teacher-desc-list">
              <li>데이터가 결정하는 세상, 데이터 인텔리전스 <br>
                (GS리테일)</li>
              <li>솔루션부문 Data Scientist 양성과정 <br>
                (삼성SDS)</li>
              <li>AI를 활용한 비즈니스 데이터 전략보고서 <br>
                작성 (HL그룹)</li>
            </ul>
          </div>
        </div>

        <div class="teacher-card swiper-slide">
          <h3 class="teacher-name">Seob 코치님</h3>
          <ul class="teacher-desc">
            <li>전) 의료 AI 연구원</li>
            <li>전자전기컴퓨터공학 석사 졸업</li>
          </ul>
          <div class="teacher-desc2">
            <ul class="teacher-desc-list">
              <li>LLM 기초, 프롬프트 엔지니어링, RAG 기반
                챗봇 구현 교육 (삼성화재)</li>
              <li>MS Copilot 교육 (길리어드 사이언스)</li>
              <li>파이썬 기초, RAG 기반 MCP 구현 교육
                (DB inc.)</li>
            </ul>
          </div>
        </div>

        <div class="teacher-card swiper-slide">
          <h3 class="teacher-name">Hyun 코치님</h3>
          <ul class="teacher-desc">
            <li>현) IT·AI 전문 전임 강사</li>
            <li>AI 리더십 저서 집필</li>
          </ul>
          <div class="teacher-desc2">
            <ul class="teacher-desc-list">
              <li>AI 시대에 업무 효율화를 AI 활용법 (캄텍)</li>
              <li>생성형 AI 문제해결 프로세스 (한국동서발전)</li>
              <li>AI 네이티브 직장인 되기 (한국산업인력공단)</li>
            </ul>
          </div>
        </div>

        <div class="teacher-card swiper-slide">
          <h3 class="teacher-name">Yoon 코치님</h3>
          <ul class="teacher-desc">
            <li>현) AI 마케팅 스타트업 CMO</li>
            <li>전) J그룹 브랜드 본부장</li>
          </ul>
          <div class="teacher-desc2">
            <ul class="teacher-desc-list">
              <li>Genspark & Canva로 30분만에 PT 보고<br>
                자료 끝내기 (인사이터)</li>
              <li>2주 걸릴 시장조사 AI로 2시간만에 끝내기<br>
                (Lupin Lab)</li>
              <li>AI로 브랜드 기획하기 (Lupin Lab)</li>
            </ul>
          </div>
        </div>
        <div class="teacher-card swiper-slide">
          <h3 class="teacher-name">Young 코치님</h3>
          <ul class="teacher-desc">
            <li>AI 기반 마케팅전략/브랜딩 <br>
              전문 강사</li>
            <li>저서) 나의 첫 생성형 AI 마케팅 수업<br>
              등 외 다수 </li>
          </ul>
          <div class="teacher-desc2">
            <ul class="teacher-desc-list">
              <li>AI 콘텐츠 기획 및 제작 <br>
                (해양경찰청)</li>
              <li>AI 활용 B2C 마케팅 (KT)</li>
              <li>AI 마케팅 트렌드 (농협)</li>
            </ul>
          </div>
        </div>

        <div class="teacher-card swiper-slide">
          <h3 class="teacher-name">Won 코치님</h3>
          <ul class="teacher-desc">
            <li>현) 글로벌마케팅교육연구소장</li>
            <li>영국 맨체스터 경영대학원 MBA </li>
            <li>연세대학교 경영대학원 <br>
              금융경제 석사</li>
          </ul>
          <div class="teacher-desc2">
            <ul class="teacher-desc-list">
              <li> 생성형 AI를 활용한 사업환경분석 <br>
                (한국화이자)</li>
              <li>글로벌 마케팅 전략 <br>
                (삼성그룹 인개원)</li>
              <li>신제품개발 액션러닝 <br>
                (현대모비스) </li>
            </ul>
          </div>
        </div>
        <div class="teacher-card swiper-slide">
          <h3 class="teacher-name">Won 코치님</h3>
          <ul class="teacher-desc">
            <li>현) 글로벌마케팅교육연구소장</li>
            <li>영국 맨체스터 경영대학원 MBA </li>
            <li>연세대학교 경영대학원 <br>
              금융경제 석사</li>
          </ul>
          <div class="teacher-desc2">
            <ul class="teacher-desc-list">
              <li> 생성형 AI를 활용한 사업환경분석 <br>
                (한국화이자)</li>
              <li>글로벌 마케팅 전략 <br>
                (삼성그룹 인개원)</li>
              <li>신제품개발 액션러닝 <br>
                (현대모비스) </li>
            </ul>
          </div>
        </div>
        <div class="teacher-card swiper-slide">
          <h3 class="teacher-name">Hoon 코치님</h3>
          <ul class="teacher-desc">
            <li>현) AI 교육 스타트업 대표</li>
            <li>KAIST 석사 졸업</li>
          </ul>
          <div class="teacher-desc2">
            <ul class="teacher-desc-list">
              <li>Python을 활용한 데이터 분석, <br>
                시각화, 업무 자동화 (삼성전자)</li>
              <li>LLM을 활용한 우리팀만의 최적화
                챗봇 개발 (하나금융그룹)</li>
              <li>LangChain과 Streamlit을 <br>
                활용한 챗봇 구축 (LG CNS)</li>
            </ul>
          </div>
        </div>

        <div class="teacher-card swiper-slide">
          <h3 class="teacher-name">Min 코치님</h3>
          <ul class="teacher-desc">
            <li>전) T사 AI 전문 연구원</li>
            <li>포항공과대학교 석사 졸업</li>
          </ul>
          <div class="teacher-desc2">
            <ul class="teacher-desc-list">
              <li>인공지능 및 파이프라인 구축 <br>
                (삼성전자)</li>
              <li>생성형 AI를 활용한 챗봇 구축 <br>
                (LG CNS)</li>
            </ul>
          </div>
        </div>

        <div class="teacher-card swiper-slide">
          <h3 class="teacher-name">Ji 코치님</h3>
          <ul class="teacher-desc">
            <li>AI 교육 전문 강사</li>
          </ul>
          <div class="teacher-desc2">
            <ul class="teacher-desc-list">
              <li>비전공자를 위한 ChatGPT <br>
                활용 업무 효율화 (웅진)</li>
            </ul>
          </div>
        </div>

        <div class="teacher-card swiper-slide">
          <h3 class="teacher-name">Jeong 코치님</h3>
          <ul class="teacher-desc">
            <li>전) T사 AI 전문 연구원</li>
            <li>숙명여자대학교 데이터지능연구 <br>
              석사 졸업</li>
          </ul>
          <div class="teacher-desc2">
            <ul class="teacher-desc-list">
              <li>데이터 분석: 가설 검증부터 <br>
                PoC까지 (HMM)</li>
              <li>생성형 AI를 활용한 데이터 분석:<br>
                활용부터 검증까지 (서울대학교)</li>
              <li>생성형 AI를 활용한 데이터 <br>
                분석 및 시각화(삼성화재)</li>

            </ul>
          </div>
        </div>

        <div class="teacher-card swiper-slide">
          <h3 class="teacher-name">Cheolyoung 코치님</h3>
          <ul class="teacher-desc">
            <li>현) 엑스퍼트컨설팅 소장</li>
            <li>고려대학교 기업교육 전공 <br>
              석사 수료 </li>
            <li>강의 분야 : AI 워크스마트/ <br>
              AI 전략기획/ AI 문제해결</li>
          </ul>
          <div class="teacher-desc2">
            <ul class="teacher-desc-list">
              <li>데이터 기반 기획력 과정<br>
                (금융결제원)</li>
              <li>AI 활용 & DT 과정 (CJ 푸드빌)</li>
              <li>AI 활용 기획 및 문서작성<br>(에스원) </li>

            </ul>
          </div>
        </div>

        <div class="teacher-card swiper-slide">
          <h3 class="teacher-name">Youngchul 코치님</h3>
          <ul class="teacher-desc">
            <li>현) 엑스퍼트컨설팅 소장</li>
            <li>고려대학교 기업교육 전공 <br>
              석사 수료 </li>
            <li>강의 분야 : AI 워크스마트/ <br>
              AI 전략기획/ AI 문제해결</li>
          </ul>
          <div class="teacher-desc2">
            <ul class="teacher-desc-list">
              <li>AI를 활용한 기획력 향상/공문서
                작성 (한국고용노동교육원)</li>
              <li>AI를 활용한 디자인 씽킹(with IDEO) (LG경영개발원/인화원)</li>
              <li>AI 코칭 시뮬레이션을 활용한 <br>
                코칭과 피드백(인하대학교)</li>
            </ul>
          </div>
        </div>

        <div class="teacher-card swiper-slide">
          <h3 class="teacher-name">YooHwan 코치님</h3>
          <ul class="teacher-desc">
            <li>현) 엑스퍼트컨설팅 소장</li>
            <li>중앙대학교  인적자원개발학 <br>
              박사 졸업 </li>
            <li>강의 분야 : AI 워크스마트/ <br>
              AI 전략기획/ AI 문제해결</li>
          </ul>
          <div class="teacher-desc2">
            <ul class="teacher-desc-list">
              <li>생성형 AI를 활용한 보고서 작성 <br>
                (대한상공회의소)</li>
              <li>영업 문제해결: 빅데이터 활용 <br>
                영업 전략 수립(동아오츠카)</li>

              <li>데이터 기반 문제해결 <br>
                (축산물품질평가원)</li>
            </ul>
          </div>
        </div>

        <div class="teacher-card swiper-slide">
          <h3 class="teacher-name">JaeHyun 코치님</h3>
          <ul class="teacher-desc">
            <li>현) 엑스퍼트컨설팅 소장</li>
            <li>한국외국어대학교 경영학 박사 졸업
            </li>
            <li>강의 분야 : AI 워크스마트/ <br>
              AI 전략기획/ AI 문제해결</li>
          </ul>
          <div class="teacher-desc2">
            <ul class="teacher-desc-list">
              <li>생성형 AI의 이해와 활용 <br>
                (롯데물산)</li>
              <li>프롬프트 엔지니어링 기본~심화<br>
                (현대그룹)</li>
              <li>데이터를 활용한 문제 해결<br>
                (BMW Group)</li>
            </ul>
          </div>
        </div>



      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>