<section id="teachers" class="section-teachers">
  <div class="container">
    <h2 class="section-title">강사진
      <div class="btn-group">
        <button type="button" class="btn-prev" aria-label="Prev">
          <i></i>
        </button>
        <button type="button" class="btn-next" aria-label="Next">
          <i></i>
        </button>
      </div>
    </h2>

    <div class="teachers-slider swiper">
      <div class="swiper-wrapper">
        <div class="teacher-card swiper-slide">
          <h3 class="teacher-name">Rim 코치님</h3>
          <ul class="teacher-desc">
            <li>현) AI 교육 및 컨설팅 책임 연구원</li>
            <li>AI융합·데이터사이언스 석박사 졸업</li>
            <li>저서) 된다! 하루 만에 끝내는<br>
              제미나이 활용법 외 다수 </li>
          </ul>
          <div class="teacher-desc2">
            <ul class="teacher-desc-list">
              <li>제미나이 기초 및 업무효율화 <br>
              (씨유메디컬)</li>
            <li>제미나이를 활용한 민원 대응 및 업무<br>
              챗봇 실습 (경기도청)</li>
            <li>제미나이 활용 데이터 분석 및 보고서 작성 <br>
              (제이씨데코 코리아)</li>
            </ul>
          </div>
        </div>

        <div class="teacher-card swiper-slide">
          <h3 class="teacher-name">Lee 코치님</h3>
          <ul class="teacher-desc">
            <li>현) 국내 커머스 스타트업 CCO</li>
            <li>통계학 석박사 졸업</li>
          </ul>
          <div class="teacher-desc2">
            <ul class="teacher-desc-list">
              
            </ul>
          </div>
        </div>

        <div class="teacher-card swiper-slide">
          <h3 class="teacher-name">Seob 코치님</h3>
          <ul class="teacher-desc">
            <li>전) 의료 AI 연구원</li>
            <li>전자전기컴퓨터공학 석사 졸업</li>
          </ul>
          <div class="teacher-desc2">
            <ul class="teacher-desc-list">
              
            </ul>
          </div>
        </div>

        <div class="teacher-card swiper-slide">
          <h3 class="teacher-name">Hyun 코치님</h3>
          <ul class="teacher-desc">
            <li>현) IT·AI 전문 전임 강사</li>
            <li>AI 리더십 저서 집필</li>
          </ul>
          <div class="teacher-desc2">
            <ul class="teacher-desc-list">
              
            </ul>
          </div>
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>