<section id="training" class="section-training">
  <div class="container">
    <div class="training-content training-content-1">
      <div class="hgroup">
        <div class="hgroup-left">
          <h2 class="hgroup-title">
            AI 교육
          </h2>
          <div class="tag-group">
            <button type="button">임원</button>
            <button type="button">팀장</button>
            <button type="button">시니어</button>
            <button type="button">미들/주니어</button>
            <button type="button">신입</button>
          </div>
        </div>

        <div class="btn-group">
          <button type="button" class="btn-prev" aria-label="Prev">
            <i></i>
          </button>
          <button type="button" class="btn-next" aria-label="Next">
            <i></i>
          </button>
        </div>
      </div>

      <div class="training-carousel">
        <div class="swiper training-swiper">
          <div class="swiper-wrapper">
            <div class="training-card swiper-slide">
              <h3 class="training-name">임원</h3>
              <div class="training-desc">
                AI를 활용한 <br>
                의사결정과 <br>
                AI 도입 전략
              </div>
              <div class="training-links">
                <a href="#">과정 상세 <i></i></a>
              </div>
            </div>
            <div class="training-card swiper-slide">
              <h3 class="training-name">임원</h3>
              <div class="training-desc">
                AI를 활용한 <br>
                의사결정과 <br>
                AI 도입 전략
              </div>
              <div class="training-links">
                <a href="#">과정 상세 <i></i></a>
              </div>
            </div>
            <div class="training-card swiper-slide">
              <h3 class="training-name">임원</h3>
              <div class="training-desc">
                AI를 활용한 <br>
                의사결정과 <br>
                AI 도입 전략
              </div>
              <div class="training-links">
                <a href="#">과정 상세 <i></i></a>
              </div>
            </div>
            <div class="training-card swiper-slide">
              <h3 class="training-name">임원</h3>
              <div class="training-desc">
                AI를 활용한 <br>
                의사결정과 <br>
                AI 도입 전략
              </div>
              <div class="training-links">
                <a href="#">과정 상세 <i></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="training-content training-content-2">
      <div class="hgroup">
        <div class="hgroup-left">
          <h2 class="hgroup-title">
            AX 조직문화 & 팀빌딩
          </h2>
          <div class="tag-group">
            <button type="button">조직문화</button>
            <button type="button">부트캠프</button>
          </div>
        </div>
        <div class="btn-group">
          <button type="button" class="btn-prev" aria-label="Prev">
            <i></i>
          </button>
          <button type="button" class="btn-next" aria-label="Next">
            <i></i>
          </button>
        </div>
      </div>

      <div class="training-carousel">
        <div class="swiper training-swiper">
          <div class="swiper-wrapper">
            <div class="training-card swiper-slide">
              <h3 class="training-name">임원</h3>
              <div class="training-desc">
                AI를 활용한 <br>
                의사결정과 <br>
                AI 도입 전략
              </div>
              <div class="training-links">
                <a href="#">과정 상세 <i></i></a>
              </div>
            </div>
            <div class="training-card swiper-slide">
              <h3 class="training-name">임원</h3>
              <div class="training-desc">
                AI를 활용한 <br>
                의사결정과 <br>
                AI 도입 전략
              </div>
              <div class="training-links">
                <a href="#">과정 상세 <i></i></a>
              </div>
            </div>
            <div class="training-card swiper-slide">
              <h3 class="training-name">임원</h3>
              <div class="training-desc">
                AI를 활용한 <br>
                의사결정과 <br>
                AI 도입 전략
              </div>
              <div class="training-links">
                <a href="#">과정 상세 <i></i></a>
              </div>
            </div>
            <div class="training-card swiper-slide">
              <h3 class="training-name">임원</h3>
              <div class="training-desc">
                AI를 활용한 <br>
                의사결정과 <br>
                AI 도입 전략
              </div>
              <div class="training-links">
                <a href="#">과정 상세 <i></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="training-content training-content-3">
      <div class="hgroup">
        <div class="hgroup-left">
          <h2 class="hgroup-title">
            AI 직무 특화 교육
          </h2>
          <div class="tag-group">
            <button type="button">기획&제조</button>
            <button type="button">경영지원&재무</button>
            <button type="button">영업&마케팅</button>
            <button type="button">디자인&영상</button>
          </div>
        </div>

        <div class="btn-group">
          <button type="button" class="btn-prev" aria-label="Prev">
            <i></i>
          </button>
          <button type="button" class="btn-next" aria-label="Next">
            <i></i>
          </button>
        </div>
      </div>

      <div class="training-carousel">
        <div class="swiper training-swiper">
          <div class="swiper-wrapper">
            <div class="training-card swiper-slide">
              <h3 class="training-name">임원</h3>
              <div class="training-desc">
                AI를 활용한 <br>
                의사결정과 <br>
                AI 도입 전략
              </div>
              <div class="training-links">
                <a href="#">과정 상세 <i></i></a>
              </div>
            </div>
            <div class="training-card swiper-slide">
              <h3 class="training-name">임원</h3>
              <div class="training-desc">
                AI를 활용한 <br>
                의사결정과 <br>
                AI 도입 전략
              </div>
              <div class="training-links">
                <a href="#">과정 상세 <i></i></a>
              </div>
            </div>
            <div class="training-card swiper-slide">
              <h3 class="training-name">임원</h3>
              <div class="training-desc">
                AI를 활용한 <br>
                의사결정과 <br>
                AI 도입 전략
              </div>
              <div class="training-links">
                <a href="#">과정 상세 <i></i></a>
              </div>
            </div>
            <div class="training-card swiper-slide">
              <h3 class="training-name">임원</h3>
              <div class="training-desc">
                AI를 활용한 <br>
                의사결정과 <br>
                AI 도입 전략
              </div>
              <div class="training-links">
                <a href="#">과정 상세 <i></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="training-content training-content-4">
      <div class="hgroup">
        <div class="hgroup-left">
          <h2 class="hgroup-title">
            AI 스킬 특화 교육
          </h2>
          <div class="tag-group">
            <button type="button">기초/공통</button>
            <button type="button">중급</button>
            <button type="button">고급</button>
            <button type="button">마스터</button>
          </div>
        </div>

        <div class="btn-group">
          <button type="button" class="btn-prev" aria-label="Prev">
            <i></i>
          </button>
          <button type="button" class="btn-next" aria-label="Next">
            <i></i>
          </button>
        </div>
      </div>

      <div class="training-carousel">
        <div class="swiper training-swiper">
          <div class="swiper-wrapper">
            <div class="training-card swiper-slide">
              <h3 class="training-name">임원</h3>
              <div class="training-desc">
                AI를 활용한 <br>
                의사결정과 <br>
                AI 도입 전략
              </div>
              <div class="training-links">
                <a href="#">과정 상세 <i></i></a>
              </div>
            </div>
            <div class="training-card swiper-slide">
              <h3 class="training-name">임원</h3>
              <div class="training-desc">
                AI를 활용한 <br>
                의사결정과 <br>
                AI 도입 전략
              </div>
              <div class="training-links">
                <a href="#">과정 상세 <i></i></a>
              </div>
            </div>
            <div class="training-card swiper-slide">
              <h3 class="training-name">임원</h3>
              <div class="training-desc">
                AI를 활용한 <br>
                의사결정과 <br>
                AI 도입 전략
              </div>
              <div class="training-links">
                <a href="#">과정 상세 <i></i></a>
              </div>
            </div>
            <div class="training-card swiper-slide">
              <h3 class="training-name">임원</h3>
              <div class="training-desc">
                AI를 활용한 <br>
                의사결정과 <br>
                AI 도입 전략
              </div>
              <div class="training-links">
                <a href="#">과정 상세 <i></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- // training -->