<section id="training" class="section-training">
  <div class="container">
    <div class="training-content training-content-1">
      <div class="hgroup">
        <div class="hgroup-left">
          <h2 class="hgroup-title">
            AI 교육
          </h2>
          <div class="tag-group">
            <button type="button" class="sort-toggle" data-sort="manager">임원</button>
            <button type="button" class="sort-toggle" data-sort="team-leader">팀장</button>
            <button type="button" class="sort-toggle" data-sort="senior">시니어</button>
            <button type="button" class="sort-toggle" data-sort="middle">미들/주니어</button>
            <button type="button" class="sort-toggle" data-sort="newbie">신입</button>
          </div>
        </div>

        <div class="btn-group">
          <button type="button" class="btn-prev" aria-label="Prev">
            <i></i>
          </button>
          <button type="button" class="btn-next" aria-label="Next">
            <i></i>
          </button>
        </div>
      </div>

      <div class="training-carousel">
        <div class="swiper training-swiper">
          <div class="swiper-wrapper">
            <div class="training-card swiper-slide" data-sort="manager">
              <h3 class="training-name">임원</h3>
              <div class="training-desc">
                AI를 활용한 <br>
                의사결정과 <br>
                AI 도입 전략
              </div>
              <div class="training-links">
                <a href="#" class="open-modal" data-open-modal data-target="modal-1" aria-haspopup="dialog">과정 상세
                  <i></i></a>
              </div>
            </div>
            <div class="training-card swiper-slide" data-sort="team-leader">
              <h3 class="training-name">팀장</h3>
              <div class="training-desc">
                AI 기반 협업을 위한 의사결정과 변화관리
              </div>
              <div class="training-links">
                <a href="#" class="open-modal" data-open-modal data-target="modal-2" aria-haspopup="dialog">과정 상세
                  <i></i></a>
              </div>
            </div>
            <div class="training-card swiper-slide">
              <h3 class="training-name">팀장</h3>
              <div class="training-desc">
                AI 시대 신임 팀장 시뮬레이션
              </div>
              <div class="training-links">
                <a href="#" class="open-modal" data-open-modal data-target="modal-3" aria-haspopup="dialog">과정 상세
                  <i></i></a>
              </div>
            </div>
            <div class="training-card swiper-slide" data-sort="senior">
              <h3 class="training-name">시니어</h3>
              <div class="training-desc">
                AI 코칭 시뮬레이션을 활용한
                브릿지 리더십 코칭과 피드백
              </div>
              <div class="training-links">
                <a href="#" class="open-modal" data-open-modal data-target="modal-4" aria-haspopup="dialog">과정 상세
                  <i></i></a>
              </div>
            </div>
            <div class="training-card swiper-slide">
              <h3 class="training-name">시니어</h3>
              <div class="training-desc">
                생성형 AI를 활용한 전략 보고서 작성
              </div>
              <div class="training-links">
                <a href="#" class="open-modal" data-open-modal data-target="modal-5" aria-haspopup="dialog">과정 상세
                  <i></i></a>
              </div>
            </div>
            <div class="training-card swiper-slide" data-sort="middle">
              <h3 class="training-name">미들&주니어</h3>
              <div class="training-desc">
                생성형 AI를 활용한 문제해결력 강화
              </div>
              <div class="training-links">
                <a href="#" class="open-modal" data-open-modal data-target="modal-6" aria-haspopup="dialog">과정 상세
                  <i></i></a>
              </div>
            </div>
            <div class="training-card swiper-slide">
              <h3 class="training-name">미들&주니어</h3>
              <div class="training-desc">
                생성형 AI를 활용한 기획 보고서 작성
              </div>
              <div class="training-links">
                <a href="#" class="open-modal" data-open-modal data-target="modal-7" aria-haspopup="dialog">과정 상세
                  <i></i></a>
              </div>
            </div>

            <div class="training-card swiper-slide" data-sort="newbie">
              <h3 class="training-name">신입</h3>
              <div class="training-desc">
                생성형 AI로 만드는 업무 효율 향상
              </div>
              <div class="training-links">
                <a href="#" class="open-modal" data-open-modal data-target="modal-8" aria-haspopup="dialog">과정 상세
                  <i></i></a>
              </div>
            </div>

            <div class="training-card swiper-slide">
              <h3 class="training-name">신입</h3>
              <div class="training-desc">
                생성형 AI를 활용한 문서 작성
              </div>
              <div class="training-links">
                <a href="#" class="open-modal" data-open-modal data-target="modal-9" aria-haspopup="dialog">과정 상세
                  <i></i></a>
              </div>
            </div>

          </div>
          <!-- //swiper-wrapper -->
        </div>
      </div>
    </div>
    <!-- //training-content-1 -->

    <div class="training-content training-content-2">
      <div class="hgroup">
        <div class="hgroup-left">
          <h2 class="hgroup-title">
            AX 조직문화 & 팀빌딩
          </h2>
          <div class="tag-group">
            <button type="button" class="sort-toggle" data-sort="organization">조직문화</button>
            <button type="button" class="sort-toggle" data-sort="bootcamp">부트캠프</button>
          </div>
        </div>
        <div class="btn-group">
          <button type="button" class="btn-prev" aria-label="Prev">
            <i></i>
          </button>
          <button type="button" class="btn-next" aria-label="Next">
            <i></i>
          </button>
        </div>
      </div>

      <div class="training-carousel">
        <div class="swiper training-swiper">
          <div class="swiper-wrapper">
            <div class="training-card swiper-slide" data-sort="organization">
              <h3 class="training-name">조직문화</h3>
              <div class="training-desc">
                AX 비즈니스 혁신 워크숍
              </div>
              <div class="training-links">
                <a href="#" class="open-modal" data-open-modal data-target="modal-10" aria-haspopup="dialog">과정 상세
                  <i></i></a>
              </div>
            </div>
            <div class="training-card swiper-slide">
              <h3 class="training-name">조직문화</h3>
              <div class="training-desc">
                AX  워크플로우 개선 워크숍
              </div>
              <div class="training-links">
                <a href="#" class="open-modal" data-open-modal data-target="modal-11" aria-haspopup="dialog">과정 상세
                  <i></i></a>
              </div>
            </div>
            
            
            
            
            
            <div class="training-card swiper-slide" data-sort="bootcamp">
              <h3 class="training-name">부트캠프</h3>
              <div class="training-desc">
                MTP Co-pilot 활용 <br>&lt;팀 비전 정립 워크샵&gt;
              </div>
              <div class="training-links">
                <a href="#" class="open-modal" data-open-modal data-target="modal-12" aria-haspopup="dialog">과정 상세
                  <i></i></a>
              </div>
            </div>

            <div class="training-card swiper-slide">
              <h3 class="training-name">부트캠프</h3>
              <div class="training-desc">
                CultureMAP Analyzer 활용 <br>&lt;팀 문화 진단&gt;
              </div>
              <div class="training-links">
                <a href="#" class="open-modal" data-open-modal data-target="modal-13" aria-haspopup="dialog">과정 상세
                  <i></i></a>
              </div>
            </div>

            <div class="training-card swiper-slide">
              <h3 class="training-name">부트캠프</h3>
              <div class="training-desc">
                Work Way Generator 활용 <br>&lt;팀 일하는 원칙 정립&gt;
              </div>
              <div class="training-links">
                <a href="#" class="open-modal" data-open-modal data-target="modal-14" aria-haspopup="dialog">과정 상세
                  <i></i></a>
              </div>
            </div>

            <div class="training-card swiper-slide">
              <h3 class="training-name">부트캠프</h3>
              <div class="training-desc">
                AAR with AI (AWA) 활용 <br>&lt;팀 학습 시스템 구축하기&gt;
              </div>
              <div class="training-links">
                <a href="#" class="open-modal" data-open-modal data-target="modal-15" aria-haspopup="dialog">과정 상세
                  <i></i></a>
              </div>
            </div>

          </div>
          <!-- //swiper-wrapper -->
        </div>
      </div>
    </div>
    <!-- //training-content-2 -->


    <div class="training-content training-content-3">
      <div class="hgroup">
        <div class="hgroup-left">
          <h2 class="hgroup-title">
            AI 직무 특화 교육
          </h2>
          <div class="tag-group">
            <button type="button" class="sort-toggle" data-sort="planning">기획&제조</button>
            <button type="button" class="sort-toggle" data-sort="management">경영지원&재무</button>
            <button type="button" class="sort-toggle" data-sort="sales">영업&마케팅</button>
            <button type="button" class="sort-toggle" data-sort="design">디자인&영상</button>
            <button type="button" class="sort-toggle" data-sort="research">연구&개발</button>
          </div>
        </div>

        <div class="btn-group">
          <button type="button" class="btn-prev" aria-label="Prev">
            <i></i>
          </button>
          <button type="button" class="btn-next" aria-label="Next">
            <i></i>
          </button>
        </div>
      </div>

      <div class="training-carousel">
        <div class="swiper training-swiper">
          <div class="swiper-wrapper">
            <div class="training-card swiper-slide" data-sort="planning">
              <h3 class="training-name">기획&제조</h3>
              <div class="training-desc">
                AI로 혁신하는 기획·제조 실무 역량 강화 프로그램
              </div>
              <div class="training-links">
                <a href="#" class="open-modal" data-open-modal data-target="modal-16" aria-haspopup="dialog">과정 상세
                  <i></i></a>
              </div>
            </div>
            <div class="training-card swiper-slide" data-sort="management">
              <h3 class="training-name">경영지원&재무</h3>
              <div class="training-desc">
                AI로 혁신하는 기획·제조 실무 역량 강화 프로그램
              </div>
              <div class="training-links">
                <a href="#" class="open-modal" data-open-modal data-target="modal-17" aria-haspopup="dialog">과정 상세
                  <i></i></a>
              </div>
            </div>
            <div class="training-card swiper-slide" data-sort="sales">
              <h3 class="training-name">영업&마케팅</h3>
              <div class="training-desc">
                AI로 혁신하는 영업·마케팅 실무 역량 강화 프로그램
              </div>
              <div class="training-links">
                <a href="#" class="open-modal" data-open-modal data-target="modal-18" aria-haspopup="dialog">과정 상세
                  <i></i></a>
              </div>
            </div>
            <div class="training-card swiper-slide" data-sort="design">
              <h3 class="training-name">디자인&영상</h3>
              <div class="training-desc">
                AI로 혁신하는 디자인·영상 실무 역량 강화 프로그램
              </div>
              <div class="training-links">
                <a href="#" class="open-modal" data-open-modal data-target="modal-19" aria-haspopup="dialog">과정 상세
                  <i></i></a>
              </div>
            </div>
            <div class="training-card swiper-slide" data-sort="research">
              <h3 class="training-name">연구&개발</h3>
              <div class="training-desc">
                AI로 혁신하는 연구·개발 실무 역량 강화 프로그램
              </div>
              <div class="training-links">
                <a href="#" class="open-modal" data-open-modal data-target="modal-20" aria-haspopup="dialog">과정 상세
                  <i></i></a>
              </div>
            </div>

          </div>
          <!-- //swiper-wrapper -->
        </div>
      </div>
    </div>
    <div class="training-content training-content-4">
      <div class="hgroup">
        <div class="hgroup-left">
          <h2 class="hgroup-title">
            AI 스킬 특화 교육
          </h2>
          <div class="tag-group">
            <button type="button" class="sort-toggle" data-sort="basic">기초/공통</button>
            <button type="button" class="sort-toggle" data-sort="intermediate">중급</button>
            <button type="button" class="sort-toggle" data-sort="advanced">고급</button>
            <button type="button" class="sort-toggle" data-sort="master">마스터</button>
          </div>
        </div>

        <div class="btn-group">
          <button type="button" class="btn-prev" aria-label="Prev">
            <i></i>
          </button>
          <button type="button" class="btn-next" aria-label="Next">
            <i></i>
          </button>
        </div>
      </div>

      <div class="training-carousel">
        <div class="swiper training-swiper">
          <!-- swiper-wrapper -->
          <div class="swiper-wrapper">
            <div class="training-card swiper-slide" data-sort="basic">
              <h3 class="training-name">기초/공통</h3>
              <div class="training-desc">
                생성형 AI 프롬프트 엔지니어링 기초부터 고급까지
              </div>
              <div class="training-links">
                <a href="#" class="open-modal" data-open-modal data-target="modal-21" aria-haspopup="dialog">과정 상세
                  <i></i></a>
              </div>
            </div>
            <div class="training-card swiper-slide">
              <h3 class="training-name">기초/공통</h3>
              <div class="training-desc">
                할루시네이션& 보안대책과 윤리
              </div>
              <div class="training-links">
                <a href="#" class="open-modal" data-open-modal data-target="modal-22" aria-haspopup="dialog">과정 상세
                  <i></i></a>
              </div>
            </div>
            <div class="training-card swiper-slide" data-sort="advanced">
              <h3 class="training-name">고급</h3>
              <div class="training-desc">
                LangGraph와 MCP 활용
              </div>
              <div class="training-links">
                <a href="#" class="open-modal" data-open-modal data-open-modal data-target="modal-23" aria-haspopup="dialog">과정 상세
                  <i></i></a>
              </div>
            </div>
            <div class="training-card swiper-slide">
              <h3 class="training-name">고급</h3>
              <div class="training-desc">
                sLLM 구축
              </div>
              <div class="training-links">
                <a href="#" class="open-modal" data-open-modal data-open-modal data-target="modal-24" aria-haspopup="dialog">과정 상세
                  <i></i></a>
              </div>
            </div>
            
            <div class="training-card swiper-slide" data-sort="master">
              <h3 class="training-name">마스터</h3>
              <div class="training-desc">
                AI 에이전트 입문과 멀티 AI 에이전트 구축
              </div>
              <div class="training-links">
                <a href="#" class="open-modal" data-open-modal data-open-modal data-target="modal-25" aria-haspopup="dialog">과정 상세
                  <i></i></a>
              </div>
            </div>

            <div class="training-card swiper-slide">
              <h3 class="training-name">마스터</h3>
              <div class="training-desc">
                데이터 시각화 분석에서 대시보드 생성까지
              </div>
              <div class="training-links">
                <a href="#" class="open-modal" data-open-modal data-open-modal data-target="modal-26" aria-haspopup="dialog">과정 상세
                  <i></i></a>
              </div>
            </div>

            <div class="training-card swiper-slide">
              <h3 class="training-name">마스터</h3>
              <div class="training-desc">
                파이썬 기초에서 고급까지
              </div>
              <div class="training-links">
                <a href="#" class="open-modal" data-open-modal data-open-modal data-target="modal-27" aria-haspopup="dialog">과정 상세
                  <i></i></a>
              </div>
            </div>
          </div>
          <!-- //swiper-wrapper -->
        </div>
      </div>
    </div>

  </div>
</section>
<!-- // training -->