@use "abstracts/variables" as *;
@use "abstracts/functions" as *;
@use "abstracts/mixins" as *;

@use "base/root";
@use "base/reset";

@use "pages/footer";

//@use "pages/banner";
//@use "pages/about";
@use "pages/header";
@use "pages/visual";
@use "pages/roadmap";
@use "pages/training";
@use "pages/solution";
@use "pages/insight";
@use "pages/diagnosis";
@use "pages/teachers";
@use "pages/subscription";

