@use "abstracts/variables" as *;
@use "abstracts/functions" as *;
@use "abstracts/mixins" as *;

@use "base/root";
@use "base/reset";

@use "pages/footer";

//@use "pages/banner";
//@use "pages/about";
@use "pages/header";
@use "pages/visual";
@use "pages/roadmap";
@use "pages/training";
@use "pages/solution";
@use "pages/insight";
@use "pages/diagnosis";
@use "pages/teachers";
@use "pages/subscription";

/* Modal 기본 골격 (닫기까지) */
.modal-overlay {
	position: fixed;
	inset: 0;
	background: rgba(0,0,0,0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1200;
	padding: 24px;
}

.modal-overlay[hidden] {
	display: none;
}

.modal {
	background: #fff;
	width: 880px;
	outline: none;
	max-height: 90vh;
	display: none;
	flex-direction: column;
	@media (max-width: 900px) {
		width: 100%;
	}
}

.modal-header {
	display: flex;
	align-items: center;
	justify-content: center;
	background: url('@/assets/images/modal-bg1.png') no-repeat center center;
	height: 160px;
	position: relative;
	text-align: center;
	flex-shrink: 0;
	@media (max-width: 900px) {
		height: 68px;
		background-size: cover;
	}
	&.v2{
		background-image: url('@/assets/images/modal-bg2.png');
	}
	&.v3{
		background-image: url('@/assets/images/modal-bg3.png');
	}
	.modal-close{
		position: absolute;
		right: 20px;
		top: 20px;
		width: 32px;
		height: 32px;
		background: url('@/assets/images/close.png') no-repeat center center / 100% auto;
		@media screen and (max-width: 900px) {
			width: 27px;
			height: 27px;
			right: 13px;
			top: 13px;
		}
	}
}

.modal-header {
	h3{
		color: #B9F7FF;
		font-weight: 600;
		font-size: 28px;
		line-height: 139%;
		@media screen and (max-width: 900px) {
			font-size: 14px;
		}
	}
	.modal-title-desc{
		color: #fff;
		font-size: 20px;
		margin-top: 6px;
		@media screen and (max-width: 900px) {
			font-size: 12px;
		}
	}
}

.modal-close {
	background: transparent;
	border: 0;
	line-height: 1;
	cursor: pointer;
}

.modal-body {
	padding: 40px;
	flex: 1;
	overflow-y: auto;
	@media screen and (max-width: 900px) {
		padding: 32px;
	}
}

.course-detail {
	.course-info {
		display: flex;
		gap: 228px;
		@media screen and (max-width: 900px) {
			gap:18px 0;
			flex-direction: column;
		}
		+.course-info{
			margin-top: 17px;
		}
		.info-item {
			display: flex;
			align-items: flex-start;
			gap: 48px;
			@media screen and (max-width: 900px) {
				gap:0 18px;
			}
			.info-label {
				font-size: 18px;
				font-weight: 600;
				color: #000000;
				min-width: 80px;
				@media screen and (max-width: 900px) {
					font-size: 14px;
				}
			}
			.info-value {
				font-size: 16px;
				color: #696969;
				line-height: 1.24;
				flex: 1;
				@media screen and (max-width: 900px) {
					font-size: 14px;
				}
			}
		}
	}
	
	
	.course-steps {
		margin-top: 30px;
		@media screen and (max-width: 900px) {
			margin-top: 12px;
		}
	}
}

.steps-label {
	font-size: 18px;
	font-weight: 700;
	color: #000000;
	margin-bottom: 20px;
}

.steps-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.modal:has(.v2){
	.step-card{
		.step-header{
			background: rgba(25, 128, 221, 0.1);
			.step-number{
				color: #1980DD;
			}
		}
	}
	.btn-detail{
		background-color: #1980DD;
	}
}
.modal:has(.v3){
	.step-card{
		.step-header{
			background: rgba(7, 183, 209, 0.1);
			.step-number{
				color: #07B7D1;
				
			}
		}
	}
	.btn-detail{
		background-color: #07B7D1;
	}
}

.notic{
	color: #ff0000;
}

.step-card {
	display: flex;
	border: 1px solid rgba(223, 223, 232, 1);
	background: rgba(247, 247, 250, 1);
	border-radius: 5px;
	overflow: hidden;
	@media screen and (max-width: 900px) {
		flex-direction: column;
	}
	.step-header {
		width: 200px;
		padding: 20px;
		background: rgba(9, 63, 167, 0.1);
		@media screen and (max-width: 900px) {
			width: 100%;
			padding: 15px;
		}
		.step-number {
			font-size: 16px;
			font-weight: 600;
			color: #093FA7;
			display: block;
			margin-bottom: 2px;
			line-height: 134%;
			@media screen and (max-width: 900px) {
				font-size: 14px;
			}
		}
		
		.step-title {
			font-size: 16px;
			font-weight: 500;
			color: #000000;
			line-height: 1.24;
			@media screen and (max-width: 900px) {
				font-size: 14px;
			}
		}
	}
	
	.step-desc {
		flex: 1;
		padding: 30px;
		font-size: 16px;
		font-weight: 400;
		color: #000000;
		margin: 0;
		display: flex;
		align-items: center;
		line-height: 1.34;
		@media screen and (max-width: 900px) {
			padding: 15px;
			font-size: 14px;
		}
	}
}

.chapter-list {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 10px;
	@media (max-width: 900px) {
		grid-template-columns: repeat(1, minmax(0, 1fr));
		gap: 20px;
	}
	.chapter-card {
		border: 1px solid #DFDFE8;
		background-color: #F7F7FA;
		padding: 20px;
		border-radius: 5px;
		.chapter-header {
			.chapter-number {
				font-size: 14px;
				color: #07B7D1;
				font-weight: 600;
				margin-bottom: 6px;
				display: block;
				line-height: 156%;
			}
			.chapter-title {
				height: 42px;
				font-weight: 500;
				color: #000;
				font-size: 15px;
				margin-bottom: 20px;
				line-height: 100%;
				@media (max-width: 900px) {
					height: auto;
					font-size: 14px;
				}
			}
		}
		.chapter-content {
			display: flex;
			flex-direction: column;
			.content-item {
				padding: 10px 0;
				display: flex;
				gap: 10px;
				align-items: flex-start;
				border-top: 1px dotted #000;
				span{
					background-color: #222;
					width: 24px;
					height: 17px;
					display: flex;
					align-items: center;
					justify-content: center;
					color: #fff;
					font-size: 12px;
					font-weight: 600;
					flex-shrink: 0;
				}
				p{
					font-size: 14px;
					color: #696969;
					line-height: 1.24;
				}
			}
		}
	}
}
.br-pc{
	@media (max-width: 1024px) {
		display: none;
	}
}
body.modal-open {
	overflow: hidden;
	padding-right: var(--scrollbar-width, 0);

}

.modal-footer{
	padding-top: 40px;
	text-align: center;
	@media (max-width: 900px) {
		padding-top: 32px;
	}
}
.btn-detail{
	width: 100%;
	max-width:280px;
	height: 67px;
	color: #fff;
	font-weight: 700;
	font-size: 22px;
	letter-spacing: -2%;
	text-align: center;
	background: #093FA7;
	border-radius: 12px;
	@media (max-width: 900px) {
		max-width:168px;
		height: 46px;
		border-radius: 16px;
		font-size: 16px;
	}
}
